
/* This is the header and title of the website */
header {
    margin: 5px 10px;
    height: 10vh;
    
    background-image: linear-gradient(to right, black , darkblue, blue, darkblue, black);
    display: flex;
    align-items: center;
    justify-content: center;
    border:  2px solid black;
}

header h1 {
    text-align: center;
    color: orange;
    font-size: 50px;
    width: 100%;
    margin: 5px auto;
}

/* Main section of the website */
body {
    display: block;
    justify-content: space-between;
    margin: 20px auto;
}

#site-container {
    display: flex;
}

#search-container {
    width: 30%;
    background-color: aqua;
    
    margin: 20px 20px;
}

#search-container h2 {
    font-size: 25px;
    margin: 15px auto;
    text-align: center;
}

#search-container hr{
    color:black;
    background-color: darkslategrey;
}

#search-container div {
    margin: 15px;
}

#search-container div input {
    margin: 10px auto;
    width: 100%;
}

#search-container div button {
    display: block;
}

#forcast-section {
    width: 60%;
    margin: 20px 30px;
    line-height: 2;
}

.currentcity-display {
    display: grid;
    width: 100%;
   
}

#featured-city {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding-left: 20px;
    height: 300px
}

#current-city-title {
    font-size: 26px;
}

.MrWeather {
    display: inline;
    margin-right: 50px;

}
.MrWeather img {
    width: 100%;
    display: none;
}

#cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card {
    background-color: #323D4F;
    width: 150px;
    color: aliceblue;
    padding-left: 5px;
}