

header {
    margin: 5px 10px;
    height: 10vh;
    
    background-image: linear-gradient(to right, black , darkblue, blue, darkblue, black);
    display: flex;
    align-items: center;
    justify-content: center;
    border:  2px solid black;
}

header h1 {
    text-align: center;
    color: orange;
    font-size: 36px;
    width: 100%;
    margin: auto auto;
}
body {
    display: block;
    justify-content: space-between;
    margin: 20px auto;
}

#site-container {
    display: flex;
}

#search-container {
    width: 30%;
    background-color: aqua;
    
    margin: 20px 20px;
}

#forcast-section {
    background-color: aquamarine;
    width: 60%;
    margin: 20px 30px;
    line-height: 2;
}

#featured-city {
    width: 100%;
    border: 1px solid black;
}

#cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card {
    background-color: darkblue;
    width: 150px;
}